<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    cacheResultFile=".phpunit.result.cache"
>
    <testsuites>
        <testsuite name="rpg-suite">
            <directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/templates</directory>
            <directory suffix=".php">./src/admin/views</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="display_errors" value="true"/>
    </php>
</phpunit>